# Nomis API Tutorial

This is a tutorial on accessing data from the NOMIS API. Nomis is a service provided by the Office for National Statistics, ONS, to give you free access to the most detailed and up-to-date UK labour market statistics from official sources.

https://www.nomisweb.co.uk/api/v01/help

In [1]:
import requests as rq
import pandas as pd
from fuzzywuzzy import fuzz

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

## Listing all data in NOMIS

Data sets in NOMIS have an ID, name, and description which are useful parameters to use when searching for different data sets. NOMIS stores this uesful information in objects it calls "key families". We can build a function that will get the ID, name, and description of all the data sets in NOMIS so that we can search them locally on our computer.

In [2]:
def list_data_sets():
    
    # This function obtains a list of all the NOMIS datasets available
    
    # Make the request to the API
    root = "http://www.nomisweb.co.uk"
    ext = "/api/v01/dataset/def.sdmx.json"
    response = rq.get(root + ext).json()
    
    # Process the response to get the useful info from the key families if it is available
    keyFams = response['structure']['keyfamilies']['keyfamily']
    data_sets = []
    meta_data = {}
    for keyFam in keyFams:

        row = {}
        
        try:
            row['description'] = keyFam['description']['value']         
        except:
            pass
            

        try:
            row['id'] = keyFam['id']
            meta_data[keyFam['id']] = {}
        except:
            pass
            

        try:
            row['name'] = keyFam['name']['value']       
        except:
            pass
        
        
        data_sets.append(row)
           
            
        try:
            annotations = keyFam['annotations']['annotation']
            for anotation in annotations:
                meta_data[keyFam['id']][anotation['annotationtitle']] = anotation['annotationtext']
        except:
            pass

        
        try:
            components = keyFam['components']
            meta_data[keyFam['id']]['dimensions'] = []
            for dimension in components['dimension']:
                meta_data[keyFam['id']]['dimensions'].append(dimension['conceptref'])

            meta_data[keyFam['id']]['primarymeasure'] = components['primarymeasure']['conceptref']
            meta_data[keyFam['id']]['timedimension'] = components['timedimension']['conceptref']
        except:
            pass

                    
    return data_sets, meta_data

In [3]:
data_sets, meta_data = list_data_sets()
df_data_sets_list = pd.DataFrame(data_sets)
df_data_sets_list.head()

,description,id,name
0,"Records the number of people claiming Jobseeker's Allowance (JSA) and National Insurance credits at Jobcentre Plus local offices. This is not an official measure of unemployment, but is the only indicative statistic available for areas smaller than Local Authorities.",NM_1_1,Jobseeker's Allowance with rates and proportions
1,A quartery count of claimants who were claiming Jobseeker's Allowance on the count date analysed by their age and the duration.,NM_2_1,claimant count - age and duration
2,A monthly count of Jobseeker's Allowance (JSA) claimants broken down by age and the duration of claim. Totals exclude non-computerised clerical claims (approx. 1%). Available for areas smaller than Local Authorities.,NM_4_1,Jobseeker's Allowance by age and duration
3,A midyear estimate of the workforce (the denominator) which was used for calculating claimant count rates prior to January 2003. The estimates are broken down by sex but not age.,NM_5_1,claimant count denominators - historical workforce series
4,A quarterly count of Jobseeker's Allowance claimants analysed by their sought and usual occupation.,NM_6_1,claimant count - occupation

# Searching the list of data sets

We can search for data on different topics by looking in the list of data sets for key words. We can search either the id, the description, or the name. We can build a function to do help with this.

In [5]:
def search_data_list(df_data_sets_list, search_field, search_term):
    
    # This function will search a filed (e.g., id, description or name) to see 
    # how well it matches the terms in the search_term
    # Results are returned in a table with the best matches at the top
    
    df = df_data_sets_list.copy()
    df['search_score'] = df[search_field].apply(lambda x: fuzz.token_sort_ratio(x, search_term))
    df = df.sort_values('search_score', ascending=False)
    
    return df

In [6]:
df_search_results = search_data_list(df_data_sets_list, 'name', 'unemploy')
df_search_results.head(20)

,description,id,name,search_score
96,NaN,NM_127_1,model-based estimates of unemployment,36
166,NaN,NM_509_1,Population,33
244,NaN,NM_589_1,Occupation,33
951,NaN,NM_1613_1,KS011a - Industry of employment,32
11,"A residence based labour market survey encompassing population, economic activity (employment and unemployment), economic inactivity and qualifications. These are broken down where possible by gender, age, ethnicity, industry and occupation. Available at Local Authority level and above. Updated quarterly.",NM_17_1,annual population survey,31
97,NaN,NM_129_1,Annual Civil Service Employment Survey,30
241,NaN,NM_586_1,Economic Position - Females,30
527,NaN,NM_918_1,ST606EWla - Occupation,29
1022,NaN,NM_1684_1,UV068 - Household type,29
952,NaN,NM_1614_1,KS011b - Industry of employment - males,28
953,NaN,NM_1615_1,KS011c - Industry of employment - females,27
877,NaN,NM_1507_1,KS402UK - Tenure,27
891,NaN,NM_1521_1,KS611UK - NS-SeC,27
173,NaN,NM_516_1,QS116EW - Household type,27
982,NaN,NM_1644_1,UV015 - Religion,27
945,NaN,NM_1607_1,KS007 - Religion,27
525,NaN,NM_916_1,ST604EWla - Hours worked,27
894,NaN,NM_1530_1,QS101UK - Residence type,27
61,"A monthly count of claimants who either a) were claiming benefit (stocks, flow=1) on the count date; this count is the same as that in USJ, B) ceased to be unemployed (off-flows, flow=2) during the previous accounting month, c) became claimants (on-flows, flow=3) during the previous accounting month",NM_85_1,claimant flows,27
245,NaN,NM_590_1,Qualifications,27

## Checking which dimensions are available on a particular data set

In [7]:
meta_data['NM_127_1']

{'Status': 'Current (being actively updated)',
 'Units': 'Persons',
 'contenttype/sources': 'aps',
 'SubDescription': 'previously unavailable',
 'Mnemonic': 'umb',
 'FirstReleased': '2006-03-29 09:30:00',
 'LastUpdated': '2019-07-16 09:30:00',
 'LastRevised': '2019-04-16 09:30:00',
 'dimensions': ['GEOGRAPHY', 'ITEM', 'MEASURES', 'FREQ'],
 'primarymeasure': 'OBS_VALUE',
 'timedimension': 'TIME'}

In [8]:
def dimension_values(data_set_id, dimension):
    
    root = "http://www.nomisweb.co.uk"
    ext = f'/api/v01/dataset/{data_set_id}/{dimension}.def.sdmx.json'
    response = rq.get(root + ext).json()
    dim_vals = [
        {
            'description': item['description']['value'],
            'value': item['value'],
            'dimension': dimension
        } for item in response['structure']['codelists']['codelist'][0]['code']
    ]
    return dim_vals


def all_dimension_values(meta_data, data_set_id):
    
    # This function gets the values that are available for different dimensions on a data set
    
    dimensions = meta_data[data_set_id]['dimensions']
    all_dim_vals = []
    for dimension in dimensions:
        all_dim_vals += dimension_values(data_set_id, dimension)
        
    return all_dim_vals

In [9]:
pd.DataFrame(all_dimension_values(meta_data, 'NM_127_1'))

                         description       value  dimension
0                      Great Britain  2092957698  GEOGRAPHY
1                            England  2092957699  GEOGRAPHY
2                              Wales  2092957700  GEOGRAPHY
3                           Scotland  2092957701  GEOGRAPHY
4                  England and Wales  2092957703  GEOGRAPHY
5   Unemployment count (model based)           1       ITEM
6    Unemployment rate (model based)           2       ITEM
7                              value       20100   MEASURES
8                         confidence       20701   MEASURES
9                          Quarterly           Q       FREQ
10             Half-yearly, semester           S       FREQ
11                          Annually           A       FREQ

# Available geography levels for a data set

In [10]:
pd.DataFrame(dimension_values('NM_127_1', 'geography/2092957699')).head(100)

,description,value,dimension
0,England,2092957699,geography/2092957699
1,local authorities: county / unitary (as of April 2021) within England,2092957699TYPE431,geography/2092957699
2,local authorities: district / unitary (as of April 2021) within England,2092957699TYPE432,geography/2092957699
3,local authorities: district / unitary (as of April 2019) within England,2092957699TYPE434,geography/2092957699
4,combined authorities within England,2092957699TYPE442,geography/2092957699
5,local enterprise partnerships (as of April 2021) within England,2092957699TYPE459,geography/2092957699
6,local authorities: county / unitary (prior to April 2015) within England,2092957699TYPE463,geography/2092957699
7,local authorities: district / unitary (prior to April 2015) within England,2092957699TYPE464,geography/2092957699
8,english counties within England,2092957699TYPE469,geography/2092957699
9,regions within England,2092957699TYPE480,geography/2092957699

In [11]:
pd.DataFrame(dimension_values('NM_127_1', 'geography/2092957699TYPE432')).head(100)

                    description       value                    dimension
0                    Darlington  1811939329  geography/2092957699TYPE432
1                 County Durham  1811939330  geography/2092957699TYPE432
2                    Hartlepool  1811939331  geography/2092957699TYPE432
3                 Middlesbrough  1811939332  geography/2092957699TYPE432
4                Northumberland  1811939334  geography/2092957699TYPE432
5          Redcar and Cleveland  1811939335  geography/2092957699TYPE432
6              Stockton-on-Tees  1811939336  geography/2092957699TYPE432
7                     Gateshead  1811939338  geography/2092957699TYPE432
8           Newcastle upon Tyne  1811939339  geography/2092957699TYPE432
9                North Tyneside  1811939340  geography/2092957699TYPE432
10               South Tyneside  1811939341  geography/2092957699TYPE432
11                   Sunderland  1811939342  geography/2092957699TYPE432
12        Blackburn with Darwen  1811939343  geography/2092957699TYPE432
13                    Blackpool  1811939344  geography/2092957699TYPE432
14                Cheshire East  1811939345  geography/2092957699TYPE432
15    Cheshire West and Chester  1811939346  geography/2092957699TYPE432
16                       Halton  1811939347  geography/2092957699TYPE432
17                   Warrington  1811939348  geography/2092957699TYPE432
18                    Allerdale  1811939349  geography/2092957699TYPE432
19            Barrow-in-Furness  1811939350  geography/2092957699TYPE432
20                     Carlisle  1811939351  geography/2092957699TYPE432
21                     Copeland  1811939352  geography/2092957699TYPE432
22                         Eden  1811939353  geography/2092957699TYPE432
23               South Lakeland  1811939354  geography/2092957699TYPE432
24                       Bolton  1811939355  geography/2092957699TYPE432
25                         Bury  1811939356  geography/2092957699TYPE432
26                   Manchester  1811939357  geography/2092957699TYPE432
27                       Oldham  1811939358  geography/2092957699TYPE432
28                     Rochdale  1811939359  geography/2092957699TYPE432
29                      Salford  1811939360  geography/2092957699TYPE432
30                    Stockport  1811939361  geography/2092957699TYPE432
31                     Tameside  1811939362  geography/2092957699TYPE432
32                     Trafford  1811939363  geography/2092957699TYPE432
33                        Wigan  1811939364  geography/2092957699TYPE432
34                      Burnley  1811939365  geography/2092957699TYPE432
35                      Chorley  1811939366  geography/2092957699TYPE432
36                        Fylde  1811939367  geography/2092957699TYPE432
37                     Hyndburn  1811939368  geography/2092957699TYPE432
38                    Lancaster  1811939369  geography/2092957699TYPE432
39                       Pendle  1811939370  geography/2092957699TYPE432
40                      Preston  1811939371  geography/2092957699TYPE432
41                Ribble Valley  1811939372  geography/2092957699TYPE432
42                   Rossendale  1811939373  geography/2092957699TYPE432
43                 South Ribble  1811939374  geography/2092957699TYPE432
44              West Lancashire  1811939375  geography/2092957699TYPE432
45                         Wyre  1811939376  geography/2092957699TYPE432
46                     Knowsley  1811939377  geography/2092957699TYPE432
47                    Liverpool  1811939378  geography/2092957699TYPE432
48                       Sefton  1811939379  geography/2092957699TYPE432
49                   St. Helens  1811939380  geography/2092957699TYPE432
50                       Wirral  1811939381  geography/2092957699TYPE432
51     East Riding of Yorkshire  1811939382  geography/2092957699TYPE432
52  Kingston upon Hull, City of  1811939383  geography/2092957699TYPE432
53      North East Lincolnshire  1811939384  geography/2092957699TYPE432
54           North Lincolnshire  1811939385  geography/2092957699TYPE432
55                         York  1811939386  geography/2092957699TYPE432
56                       Craven  1811939387  geography/2092957699TYPE432
57                    Hambleton  1811939388  geography/2092957699TYPE432
58                    Harrogate  1811939389  geography/2092957699TYPE432
59                Richmondshire  1811939390  geography/2092957699TYPE432
60                      Ryedale  1811939391  geography/2092957699TYPE432
61                  Scarborough  1811939392  geography/2092957699TYPE432
62                        Selby  1811939393  geography/2092957699TYPE432
63                     Barnsley  1811939394  geography/2092957699TYPE432
64                    Doncaster  1811939395  geography/2092957699TYPE432
65                    Rotherham  1811939396  geography/2092957699TYPE432
66                    Sheffield  1811939397  geography/2092957699TYPE432
67                     Bradford  1811939398  geography/2092957699TYPE432
68                   Calderdale  1811939399  geography/2092957699TYPE432
69                     Kirklees  1811939400  geography/2092957699TYPE432
70                        Leeds  1811939401  geography/2092957699TYPE432
71                    Wakefield  1811939402  geography/2092957699TYPE432
72                        Derby  1811939403  geography/2092957699TYPE432
73                    Leicester  1811939404  geography/2092957699TYPE432
74                   Nottingham  1811939405  geography/2092957699TYPE432
75                      Rutland  1811939406  geography/2092957699TYPE432
76                 Amber Valley  1811939407  geography/2092957699TYPE432
77                     Bolsover  1811939408  geography/2092957699TYPE432
78                 Chesterfield  1811939409  geography/2092957699TYPE432
79             Derbyshire Dales  1811939410  geography/2092957699TYPE432
80                      Erewash  1811939411  geography/2092957699TYPE432
81                    High Peak  1811939412  geography/2092957699TYPE432
82        North East Derbyshire  1811939413  geography/2092957699TYPE432
83             South Derbyshire  1811939414  geography/2092957699TYPE432
84                        Blaby  1811939415  geography/2092957699TYPE432
85                    Charnwood  1811939416  geography/2092957699TYPE432
86                   Harborough  1811939417  geography/2092957699TYPE432
87        Hinckley and Bosworth  1811939418  geography/2092957699TYPE432
88                       Melton  1811939419  geography/2092957699TYPE432
89    North West Leicestershire  1811939420  geography/2092957699TYPE432
90            Oadby and Wigston  1811939421  geography/2092957699TYPE432
91                       Boston  1811939422  geography/2092957699TYPE432
92                 East Lindsey  1811939423  geography/2092957699TYPE432
93                      Lincoln  1811939424  geography/2092957699TYPE432
94               North Kesteven  1811939425  geography/2092957699TYPE432
95                South Holland  1811939426  geography/2092957699TYPE432
96               South Kesteven  1811939427  geography/2092957699TYPE432
97                 West Lindsey  1811939428  geography/2092957699TYPE432
98                     Ashfield  1811939436  geography/2092957699TYPE432
99                    Bassetlaw  1811939437  geography/2092957699TYPE432

## Available time periods for a data set

Time/date info from nomis API docs.
Useful time options:
 - "latest" - the latest available data for this dataset
 - "previous" - the date prior to "latest"
 - "prevyear" - the date one year prior to "latest"
 - "first" - the oldest available data for this dataset

Using the "time" concept you are limited to entering two dates, a start and end. All dates between these are returned.
        
Date is more flexible for range. With the "date" parameter you can specify relative dates, so for example if you wanted the latest date, three months and six months prior to that you could specify "date=latest,latestMINUS3,latestMINUS6". 
You can use ranges with the "date" parameter, e.g. if you wanted data for 12 months ago, together with all dates in the last six month up to latest you could specify "date=prevyear,latestMINUS5-latest". To illustrate the difference between using "date" and "time"; if you specified "time=first,latest" in your URI you would get all dates from first to latest inclusive, whereas with "date=first,latest" your output would contain only the first and latest dates.

In [12]:
pd.DataFrame(dimension_values('NM_127_1', 'time')).head(100)

          description    value dimension
0   Jan 2004-Dec 2004  2004-12      time
1   Apr 2004-Mar 2005  2005-03      time
2   Jul 2004-Jun 2005  2005-06      time
3   Oct 2004-Sep 2005  2005-09      time
4   Jan 2005-Dec 2005  2005-12      time
5   Apr 2005-Mar 2006  2006-03      time
6   Jul 2005-Jun 2006  2006-06      time
7   Oct 2005-Sep 2006  2006-09      time
8   Jan 2006-Dec 2006  2006-12      time
9   Apr 2006-Mar 2007  2007-03      time
10  Jul 2006-Jun 2007  2007-06      time
11  Oct 2006-Sep 2007  2007-09      time
12  Jan 2007-Dec 2007  2007-12      time
13  Apr 2007-Mar 2008  2008-03      time
14  Jul 2007-Jun 2008  2008-06      time
15  Oct 2007-Sep 2008  2008-09      time
16  Jan 2008-Dec 2008  2008-12      time
17  Apr 2008-Mar 2009  2009-03      time
18  Jul 2008-Jun 2009  2009-06      time
19  Oct 2008-Sep 2009  2009-09      time
20  Jan 2009-Dec 2009  2009-12      time
21  Apr 2009-Mar 2010  2010-03      time
22  Jul 2009-Jun 2010  2010-06      time
23  Oct 2009-Sep 2010  2010-09      time
24  Jan 2010-Dec 2010  2010-12      time
25  Apr 2010-Mar 2011  2011-03      time
26  Jul 2010-Jun 2011  2011-06      time
27  Oct 2010-Sep 2011  2011-09      time
28  Jan 2011-Dec 2011  2011-12      time
29  Apr 2011-Mar 2012  2012-03      time
30  Jul 2011-Jun 2012  2012-06      time
31  Oct 2011-Sep 2012  2012-09      time
32  Jan 2012-Dec 2012  2012-12      time
33  Apr 2012-Mar 2013  2013-03      time
34  Jul 2012-Jun 2013  2013-06      time
35  Oct 2012-Sep 2013  2013-09      time
36  Jan 2013-Dec 2013  2013-12      time
37  Apr 2013-Mar 2014  2014-03      time
38  Jul 2013-Jun 2014  2014-06      time
39  Oct 2013-Sep 2014  2014-09      time
40  Jan 2014-Dec 2014  2014-12      time
41  Apr 2014-Mar 2015  2015-03      time
42  Jul 2014-Jun 2015  2015-06      time
43  Oct 2014-Sep 2015  2015-09      time
44  Jan 2015-Dec 2015  2015-12      time
45  Apr 2015-Mar 2016  2016-03      time
46  Jul 2015-Jun 2016  2016-06      time
47  Oct 2015-Sep 2016  2016-09      time
48  Jan 2016-Dec 2016  2016-12      time
49  Apr 2016-Mar 2017  2017-03      time
50  Jul 2016-Jun 2017  2017-06      time
51  Oct 2016-Sep 2017  2017-09      time
52  Jan 2017-Dec 2017  2017-12      time
53  Apr 2017-Mar 2018  2018-03      time
54  Jul 2017-Jun 2018  2018-06      time
55  Oct 2017-Sep 2018  2018-09      time
56  Jan 2018-Dec 2018  2018-12      time
57  Apr 2018-Mar 2019  2019-03      time
58  Jul 2018-Jun 2019  2019-06      time
59  Oct 2018-Sep 2019  2019-09      time
60  Jan 2019-Dec 2019  2019-12      time
61  Apr 2019-Mar 2020  2020-03      time
62  Jul 2019-Jun 2020  2020-06      time
63  Oct 2019-Sep 2020  2020-09      time
64  Jan 2020-Dec 2020  2020-12      time

## Downloading a data set

To get a data set from the NOMIS API we put together a query. A query is a string that contains the information on the data we are requesting such as the dataset id, the gegraphical area, and the time period. We can define a function to build the query string based on this information and then pass the query string to pandas to request the data.

In [13]:
def make_query(data_set_id, dimension_filters={}):
    
    # This function makes a query string for requesting data from the NOMIS API
    
    root = "http://www.nomisweb.co.uk"
    ext = "/api/v01/dataset/"
    
    params = '&'.join([f'{dimension.lower()}={dimension_filters[dimension]}' for dimension in dimension_filters.keys()])
    if len(params) > 0:
        params = f'?{params}'
        
    query = f'{root}{ext}{data_set_id}.data.csv{params}'

    return query

In [14]:
dimension_filters = {
    'GEOGRAPHY': '2092957699TYPE432',
    'MEASURES': '20100',
    'TIME': '2020-12,2019-12,2018-12',
    'ITEM': '1'
}

query_string = make_query('NM_127_1', dimension_filters)
query_string

'http://www.nomisweb.co.uk/api/v01/dataset/NM_127_1.data.csv?geography=2092957699TYPE432&measures=20100&time=2020-12,2019-12,2018-12&item=1'

In [15]:
df = pd.read_csv(query_string)

In [16]:
df.shape

(2781, 28)

In [17]:
df.columns

Index(['DATE', 'DATE_NAME', 'DATE_CODE', 'DATE_TYPE', 'DATE_TYPECODE',
       'DATE_SORTORDER', 'GEOGRAPHY', 'GEOGRAPHY_NAME', 'GEOGRAPHY_CODE',
       'GEOGRAPHY_TYPE', 'GEOGRAPHY_TYPECODE', 'GEOGRAPHY_SORTORDER', 'ITEM',
       'ITEM_NAME', 'ITEM_CODE', 'ITEM_TYPE', 'ITEM_TYPECODE',
       'ITEM_SORTORDER', 'MEASURES', 'MEASURES_NAME', 'OBS_VALUE',
       'OBS_STATUS', 'OBS_STATUS_NAME', 'OBS_CONF', 'OBS_CONF_NAME', 'URN',
       'RECORD_OFFSET', 'RECORD_COUNT'],
      dtype='object')

In [18]:
df.head(100)

,DATE,DATE_NAME,DATE_CODE,DATE_TYPE,DATE_TYPECODE,DATE_SORTORDER,GEOGRAPHY,GEOGRAPHY_NAME,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,GEOGRAPHY_SORTORDER,ITEM,ITEM_NAME,ITEM_CODE,ITEM_TYPE,ITEM_TYPECODE,ITEM_SORTORDER,MEASURES,MEASURES_NAME,OBS_VALUE,OBS_STATUS,OBS_STATUS_NAME,OBS_CONF,OBS_CONF_NAME,URN,RECORD_OFFSET,RECORD_COUNT
0,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939329,Darlington,E06000005,local authorities: district / unitary (as of April 2021),432,0,1,Unemployment count (model based),1,item,0,0,20100,Value,2500.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939329d1d20100,0,2781
1,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939330,County Durham,E06000047,local authorities: district / unitary (as of April 2021),432,1,1,Unemployment count (model based),1,item,0,0,20100,Value,12200.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939330d1d20100,1,2781
2,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939331,Hartlepool,E06000001,local authorities: district / unitary (as of April 2021),432,2,1,Unemployment count (model based),1,item,0,0,20100,Value,3700.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939331d1d20100,2,2781
3,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939332,Middlesbrough,E06000002,local authorities: district / unitary (as of April 2021),432,3,1,Unemployment count (model based),1,item,0,0,20100,Value,4500.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939332d1d20100,3,2781
4,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939334,Northumberland,E06000057,local authorities: district / unitary (as of April 2021),432,4,1,Unemployment count (model based),1,item,0,0,20100,Value,6300.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939334d1d20100,4,2781
5,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939335,Redcar and Cleveland,E06000003,local authorities: district / unitary (as of April 2021),432,5,1,Unemployment count (model based),1,item,0,0,20100,Value,3200.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939335d1d20100,5,2781
6,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939336,Stockton-on-Tees,E06000004,local authorities: district / unitary (as of April 2021),432,6,1,Unemployment count (model based),1,item,0,0,20100,Value,5200.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939336d1d20100,6,2781
7,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939338,Gateshead,E08000037,local authorities: district / unitary (as of April 2021),432,7,1,Unemployment count (model based),1,item,0,0,20100,Value,4800.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939338d1d20100,7,2781
8,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939339,Newcastle upon Tyne,E08000021,local authorities: district / unitary (as of April 2021),432,8,1,Unemployment count (model based),1,item,0,0,20100,Value,8000.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939339d1d20100,8,2781
9,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939340,North Tyneside,E08000022,local authorities: district / unitary (as of April 2021),432,9,1,Unemployment count (model based),1,item,0,0,20100,Value,4700.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939340d1d20100,9,2781
10,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939341,South Tyneside,E08000023,local authorities: district / unitary (as of April 2021),432,10,1,Unemployment count (model based),1,item,0,0,20100,Value,4500.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939341d1d20100,10,2781
11,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939342,Sunderland,E08000024,local authorities: district / unitary (as of April 2021),432,11,1,Unemployment count (model based),1,item,0,0,20100,Value,8200.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939342d1d20100,11,2781
12,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939343,Blackburn with Darwen,E06000008,local authorities: district / unitary (as of April 2021),432,12,1,Unemployment count (model based),1,item,0,0,20100,Value,3500.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939343d1d20100,12,2781
13,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939344,Blackpool,E06000009,local authorities: district / unitary (as of April 2021),432,13,1,Unemployment count (model based),1,item,0,0,20100,Value,3600.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939344d1d20100,13,2781
14,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939345,Cheshire East,E06000049,local authorities: district / unitary (as of April 2021),432,14,1,Unemployment count (model based),1,item,0,0,20100,Value,6000.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939345d1d20100,14,2781
15,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939346,Cheshire West and Chester,E06000050,local authorities: district / unitary (as of April 2021),432,15,1,Unemployment count (model based),1,item,0,0,20100,Value,6100.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939346d1d20100,15,2781
16,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939347,Halton,E06000006,local authorities: district / unitary (as of April 2021),432,16,1,Unemployment count (model based),1,item,0,0,20100,Value,2800.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939347d1d20100,16,2781
17,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939348,Warrington,E06000007,local authorities: district / unitary (as of April 2021),432,17,1,Unemployment count (model based),1,item,0,0,20100,Value,4200.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939348d1d20100,17,2781
18,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939349,Allerdale,E07000026,local authorities: district / unitary (as of April 2021),432,18,1,Unemployment count (model based),1,item,0,0,20100,Value,1500.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939349d1d20100,18,2781
19,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939350,Barrow-in-Furness,E07000027,local authorities: district / unitary (as of April 2021),432,19,1,Unemployment count (model based),1,item,0,0,20100,Value,1400.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939350d1d20100,19,2781
20,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939351,Carlisle,E07000028,local authorities: district / unitary (as of April 2021),432,20,1,Unemployment count (model based),1,item,0,0,20100,Value,1400.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939351d1d20100,20,2781
21,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939352,Copeland,E07000029,local authorities: district / unitary (as of April 2021),432,21,1,Unemployment count (model based),1,item,0,0,20100,Value,1300.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939352d1d20100,21,2781
22,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939353,Eden,E07000030,local authorities: district / unitary (as of April 2021),432,22,1,Unemployment count (model based),1,item,0,0,20100,Value,500.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939353d1d20100,22,2781
23,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939354,South Lakeland,E07000031,local authorities: district / unitary (as of April 2021),432,23,1,Unemployment count (model based),1,item,0,0,20100,Value,900.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939354d1d20100,23,2781
24,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939355,Bolton,E08000001,local authorities: district / unitary (as of April 2021),432,24,1,Unemployment count (model based),1,item,0,0,20100,Value,6500.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939355d1d20100,24,2781
25,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939356,Bury,E08000002,local authorities: district / unitary (as of April 2021),432,25,1,Unemployment count (model based),1,item,0,0,20100,Value,3700.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939356d1d20100,25,2781
26,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939357,Manchester,E08000003,local authorities: district / unitary (as of April 2021),432,26,1,Unemployment count (model based),1,item,0,0,20100,Value,14900.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939357d1d20100,26,2781
27,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939358,Oldham,E08000004,local authorities: district / unitary (as of April 2021),432,27,1,Unemployment count (model based),1,item,0,0,20100,Value,5600.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939358d1d20100,27,2781
28,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939359,Rochdale,E08000005,local authorities: district / unitary (as of April 2021),432,28,1,Unemployment count (model based),1,item,0,0,20100,Value,5200.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939359d1d20100,28,2781
29,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939360,Salford,E08000006,local authorities: district / unitary (as of April 2021),432,29,1,Unemployment count (model based),1,item,0,0,20100,Value,6800.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939360d1d20100,29,2781
30,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939361,Stockport,E08000007,local authorities: district / unitary (as of April 2021),432,30,1,Unemployment count (model based),1,item,0,0,20100,Value,4600.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939361d1d20100,30,2781
31,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939362,Tameside,E08000008,local authorities: district / unitary (as of April 2021),432,31,1,Unemployment count (model based),1,item,0,0,20100,Value,5300.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939362d1d20100,31,2781
32,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939363,Trafford,E08000009,local authorities: district / unitary (as of April 2021),432,32,1,Unemployment count (model based),1,item,0,0,20100,Value,4300.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939363d1d20100,32,2781
33,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939364,Wigan,E08000010,local authorities: district / unitary (as of April 2021),432,33,1,Unemployment count (model based),1,item,0,0,20100,Value,6600.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939364d1d20100,33,2781
34,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939365,Burnley,E07000117,local authorities: district / unitary (as of April 2021),432,34,1,Unemployment count (model based),1,item,0,0,20100,Value,2300.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939365d1d20100,34,2781
35,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939366,Chorley,E07000118,local authorities: district / unitary (as of April 2021),432,35,1,Unemployment count (model based),1,item,0,0,20100,Value,1800.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939366d1d20100,35,2781
36,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939367,Fylde,E07000119,local authorities: district / unitary (as of April 2021),432,36,1,Unemployment count (model based),1,item,0,0,20100,Value,900.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939367d1d20100,36,2781
37,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939368,Hyndburn,E07000120,local authorities: district / unitary (as of April 2021),432,37,1,Unemployment count (model based),1,item,0,0,20100,Value,1800.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939368d1d20100,37,2781
38,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939369,Lancaster,E07000121,local authorities: district / unitary (as of April 2021),432,38,1,Unemployment count (model based),1,item,0,0,20100,Value,3400.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939369d1d20100,38,2781
39,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939370,Pendle,E07000122,local authorities: district / unitary (as of April 2021),432,39,1,Unemployment count (model based),1,item,0,0,20100,Value,1800.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939370d1d20100,39,2781
40,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939371,Preston,E07000123,local authorities: district / unitary (as of April 2021),432,40,1,Unemployment count (model based),1,item,0,0,20100,Value,3300.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939371d1d20100,40,2781
41,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939372,Ribble Valley,E07000124,local authorities: district / unitary (as of April 2021),432,41,1,Unemployment count (model based),1,item,0,0,20100,Value,700.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939372d1d20100,41,2781
42,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939373,Rossendale,E07000125,local authorities: district / unitary (as of April 2021),432,42,1,Unemployment count (model based),1,item,0,0,20100,Value,1500.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939373d1d20100,42,2781
43,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939374,South Ribble,E07000126,local authorities: district / unitary (as of April 2021),432,43,1,Unemployment count (model based),1,item,0,0,20100,Value,2000.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939374d1d20100,43,2781
44,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939375,West Lancashire,E07000127,local authorities: district / unitary (as of April 2021),432,44,1,Unemployment count (model based),1,item,0,0,20100,Value,2300.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939375d1d20100,44,2781
45,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939376,Wyre,E07000128,local authorities: district / unitary (as of April 2021),432,45,1,Unemployment count (model based),1,item,0,0,20100,Value,1600.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939376d1d20100,45,2781
46,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939377,Knowsley,E08000011,local authorities: district / unitary (as of April 2021),432,46,1,Unemployment count (model based),1,item,0,0,20100,Value,2500.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939377d1d20100,46,2781
47,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939378,Liverpool,E08000012,local authorities: district / unitary (as of April 2021),432,47,1,Unemployment count (model based),1,item,0,0,20100,Value,9600.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939378d1d20100,47,2781
48,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939379,Sefton,E08000014,local authorities: district / unitary (as of April 2021),432,48,1,Unemployment count (model based),1,item,0,0,20100,Value,4100.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939379d1d20100,48,2781
49,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939380,St. Helens,E08000013,local authorities: district / unitary (as of April 2021),432,49,1,Unemployment count (model based),1,item,0,0,20100,Value,2900.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939380d1d20100,49,2781
50,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939381,Wirral,E08000015,local authorities: district / unitary (as of April 2021),432,50,1,Unemployment count (model based),1,item,0,0,20100,Value,4200.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939381d1d20100,50,2781
51,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939382,East Riding of Yorkshire,E06000011,local authorities: district / unitary (as of April 2021),432,51,1,Unemployment count (model based),1,item,0,0,20100,Value,5400.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939382d1d20100,51,2781
52,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939383,"Kingston upon Hull, City of",E06000010,local authorities: district / unitary (as of April 2021),432,52,1,Unemployment count (model based),1,item,0,0,20100,Value,7800.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939383d1d20100,52,2781
53,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939384,North East Lincolnshire,E06000012,local authorities: district / unitary (as of April 2021),432,53,1,Unemployment count (model based),1,item,0,0,20100,Value,4400.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939384d1d20100,53,2781
54,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939385,North Lincolnshire,E06000013,local authorities: district / unitary (as of April 2021),432,54,1,Unemployment count (model based),1,item,0,0,20100,Value,4300.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939385d1d20100,54,2781
55,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939386,York,E06000014,local authorities: district / unitary (as of April 2021),432,55,1,Unemployment count (model based),1,item,0,0,20100,Value,3500.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939386d1d20100,55,2781
56,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939387,Craven,E07000163,local authorities: district / unitary (as of April 2021),432,56,1,Unemployment count (model based),1,item,0,0,20100,Value,800.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939387d1d20100,56,2781
57,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939388,Hambleton,E07000164,local authorities: district / unitary (as of April 2021),432,57,1,Unemployment count (model based),1,item,0,0,20100,Value,1300.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939388d1d20100,57,2781
58,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939389,Harrogate,E07000165,local authorities: district / unitary (as of April 2021),432,58,1,Unemployment count (model based),1,item,0,0,20100,Value,2600.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939389d1d20100,58,2781
59,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939390,Richmondshire,E07000166,local authorities: district / unitary (as of April 2021),432,59,1,Unemployment count (model based),1,item,0,0,20100,Value,800.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939390d1d20100,59,2781
60,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939391,Ryedale,E07000167,local authorities: district / unitary (as of April 2021),432,60,1,Unemployment count (model based),1,item,0,0,20100,Value,700.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939391d1d20100,60,2781
61,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939392,Scarborough,E07000168,local authorities: district / unitary (as of April 2021),432,61,1,Unemployment count (model based),1,item,0,0,20100,Value,1700.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939392d1d20100,61,2781
62,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939393,Selby,E07000169,local authorities: district / unitary (as of April 2021),432,62,1,Unemployment count (model based),1,item,0,0,20100,Value,1400.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939393d1d20100,62,2781
63,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939394,Barnsley,E08000016,local authorities: district / unitary (as of April 2021),432,63,1,Unemployment count (model based),1,item,0,0,20100,Value,5900.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939394d1d20100,63,2781
64,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939395,Doncaster,E08000017,local authorities: district / unitary (as of April 2021),432,64,1,Unemployment count (model based),1,item,0,0,20100,Value,8300.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939395d1d20100,64,2781
65,2018-12,Jan 2018-Dec 2018,2018-12,date,0,0,1811939396,Rotherham,E08000018,local authorities: district / unitary (as of April 2021),432,65,1,Unemployment count (model based),1,item,0,0,20100,Value,6100.0,A,Normal Value,F,Free (free for publication),Nm-127d1d32300e0d1811939396d1d20100,65,2781

In [19]:
len(set(df.GEOGRAPHY))

309

In [20]:
len(set(df.MEASURES_NAME))

1

In [21]:
df.columns

Index(['DATE', 'DATE_NAME', 'DATE_CODE', 'DATE_TYPE', 'DATE_TYPECODE',
       'DATE_SORTORDER', 'GEOGRAPHY', 'GEOGRAPHY_NAME', 'GEOGRAPHY_CODE',
       'GEOGRAPHY_TYPE', 'GEOGRAPHY_TYPECODE', 'GEOGRAPHY_SORTORDER', 'ITEM',
       'ITEM_NAME', 'ITEM_CODE', 'ITEM_TYPE', 'ITEM_TYPECODE',
       'ITEM_SORTORDER', 'MEASURES', 'MEASURES_NAME', 'OBS_VALUE',
       'OBS_STATUS', 'OBS_STATUS_NAME', 'OBS_CONF', 'OBS_CONF_NAME', 'URN',
       'RECORD_OFFSET', 'RECORD_COUNT'],
      dtype='object')